<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
  <context:property-placeholder location="app.properties"/>
  <bean id="redisCacheManager" class="com.xx.test.mt.common.cache.redis.RedisCacheManger">
      <property name="pool" ref="shardedJedisPool"/>
  </bean>
  <!-- jedis 连接池配置-->
  <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">  
    <property name="maxTotal"     value="${redis.pool.maxActive}" />  
    <property name="maxIdle"       value="${redis.pool.maxIdle}" />  
    <property name="maxWait"       value="${redis.pool.maxWait}" />  
    <property name="testOnBorrow"  value="${redis.pool.testOnBorrow}" />  
  </bean>
</beans>