<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xx.test.mt.dao.mybatis.DNSMapper" >
  <resultMap id="BaseResultMap" type="com.xx.test.mt.model.DNS" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="DATE" />
    <result column="dns_name" property="dnsName" jdbcType="VARCHAR" />
    <result column="ping" property="ping" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="group" property="group" jdbcType="VARCHAR" />
    <result column="cn_com" property="cnCom" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, day, dns_name, ping, insert_time, group, cn_com
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_a_dns
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_a_dns
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xx.test.mt.model.DNS" >
    insert into t_a_dns (id, day, dns_name, 
      ping, insert_time, group, 
      cn_com)
    values (#{id,jdbcType=INTEGER}, #{day,jdbcType=DATE}, #{dnsName,jdbcType=VARCHAR}, 
      #{ping,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{group,jdbcType=VARCHAR}, 
      #{cnCom,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xx.test.mt.model.DNS" >
    insert into t_a_dns
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="dnsName != null" >
        dns_name,
      </if>
      <if test="ping != null" >
        ping,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="group != null" >
        group,
      </if>
      <if test="cnCom != null" >
        cn_com,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=DATE},
      </if>
      <if test="dnsName != null" >
        #{dnsName,jdbcType=VARCHAR},
      </if>
      <if test="ping != null" >
        #{ping,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="group != null" >
        #{group,jdbcType=VARCHAR},
      </if>
      <if test="cnCom != null" >
        #{cnCom,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xx.test.mt.model.DNS" >
    update t_a_dns
    <set >
      <if test="day != null" >
        day = #{day,jdbcType=DATE},
      </if>
      <if test="dnsName != null" >
        dns_name = #{dnsName,jdbcType=VARCHAR},
      </if>
      <if test="ping != null" >
        ping = #{ping,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="group != null" >
        group = #{group,jdbcType=VARCHAR},
      </if>
      <if test="cnCom != null" >
        cn_com = #{cnCom,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xx.test.mt.model.DNS" >
    update t_a_dns
    set day = #{day,jdbcType=DATE},
      dns_name = #{dnsName,jdbcType=VARCHAR},
      ping = #{ping,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      group = #{group,jdbcType=VARCHAR},
      cn_com = #{cnCom,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>