<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xx.test.mt.dao.mybatis.GroupInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xx.test.mt.model.GroupInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="usergrpCode" property="usergrpcode" jdbcType="VARCHAR" />
    <result column="usergrpName" property="usergrpname" jdbcType="VARCHAR" />
    <result column="isEnable" property="isenable" jdbcType="VARCHAR" />
    <result column="insrtTime" property="insrttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, usergrpCode, usergrpName, isEnable, insrtTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xx.test.mt.model.GroupInfo" >
    insert into t_group (id, usergrpCode, usergrpName, 
      isEnable, insrtTime)
    values (#{id,jdbcType=INTEGER}, #{usergrpcode,jdbcType=VARCHAR}, #{usergrpname,jdbcType=VARCHAR}, 
      #{isenable,jdbcType=VARCHAR}, #{insrttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xx.test.mt.model.GroupInfo" >
    insert into t_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="usergrpcode != null" >
        usergrpCode,
      </if>
      <if test="usergrpname != null" >
        usergrpName,
      </if>
      <if test="isenable != null" >
        isEnable,
      </if>
      <if test="insrttime != null" >
        insrtTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="usergrpcode != null" >
        #{usergrpcode,jdbcType=VARCHAR},
      </if>
      <if test="usergrpname != null" >
        #{usergrpname,jdbcType=VARCHAR},
      </if>
      <if test="isenable != null" >
        #{isenable,jdbcType=VARCHAR},
      </if>
      <if test="insrttime != null" >
        #{insrttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xx.test.mt.model.GroupInfo" >
    update t_group
    <set >
      <if test="usergrpcode != null" >
        usergrpCode = #{usergrpcode,jdbcType=VARCHAR},
      </if>
      <if test="usergrpname != null" >
        usergrpName = #{usergrpname,jdbcType=VARCHAR},
      </if>
      <if test="isenable != null" >
        isEnable = #{isenable,jdbcType=VARCHAR},
      </if>
      <if test="insrttime != null" >
        insrtTime = #{insrttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xx.test.mt.model.GroupInfo" >
    update t_group
    set usergrpCode = #{usergrpcode,jdbcType=VARCHAR},
      usergrpName = #{usergrpname,jdbcType=VARCHAR},
      isEnable = #{isenable,jdbcType=VARCHAR},
      insrtTime = #{insrttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>