<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xx.test.mt.dao.mybatis.GrpRoleMapper" >
  <resultMap id="BaseResultMap" type="com.xx.test.mt.model.GrpRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="grpID" property="grpid" jdbcType="VARCHAR" />
    <result column="roleID" property="roleid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, grpID, roleID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_grp_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_grp_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xx.test.mt.model.GrpRole" >
    insert into t_grp_role (id, grpID, roleID
      )
    values (#{id,jdbcType=INTEGER}, #{grpid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xx.test.mt.model.GrpRole" >
    insert into t_grp_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="grpid != null" >
        grpID,
      </if>
      <if test="roleid != null" >
        roleID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="grpid != null" >
        #{grpid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xx.test.mt.model.GrpRole" >
    update t_grp_role
    <set >
      <if test="grpid != null" >
        grpID = #{grpid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleID = #{roleid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xx.test.mt.model.GrpRole" >
    update t_grp_role
    set grpID = #{grpid,jdbcType=VARCHAR},
      roleID = #{roleid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>