<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xx.test.mt.dao.mybatis.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xx.test.mt.model.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="isEnable" property="isenable" jdbcType="INTEGER" />
    <result column="last_login" property="lastLogin" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    t_user.id, username, t_user.isEnable, last_login
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xx.test.mt.model.UserInfo" >
    insert into t_user (id, username,
      isEnable, last_login)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
      #{isenable,jdbcType=INTEGER}, #{lastLogin,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xx.test.mt.model.UserInfo" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="isenable != null" >
        isEnable,
      </if>
      <if test="lastLogin != null" >
        last_login,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="isenable != null" >
        #{isenable,jdbcType=INTEGER},
      </if>
      <if test="lastLogin != null" >
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xx.test.mt.model.UserInfo" >
    update t_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="isenable != null" >
        isEnable = #{isenable,jdbcType=INTEGER},
      </if>
      <if test="lastLogin != null" >
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xx.test.mt.model.UserInfo" >
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      isEnable = #{isenable,jdbcType=INTEGER},
      last_login = #{lastLogin,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="allUserWithGroupresultMap" type="com.xx.test.mt.model.UserInfo" extends="BaseResultMap">
      <collection property="groupList" javaType="list" ofType="com.xx.test.mt.model.GroupInfo">
          <id property="id" column="grpID"/>
          <result property="grpname" column="grpName"/>
      </collection>
  </resultMap>
  <select id="selectUserList" resultMap="allUserWithGroupresultMap">
    select 
    <include refid="Base_Column_List" />,
    t_group.id as grpID,
    t_group.grpName as grpName
    from t_user
	join t_user_grp on t_user.id=t_user_grp.userID
	join t_group on  t_user_grp.groupID=t_group.id
  </select>
</mapper>